<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LocalAuthorityViews" type="ULIMSWcfClient.Configuration.LocalAuthorityViewSection,ULIMSWcfClient" />
    <section name="LocalAuthorityTables" type="ULIMSWcfClient.Configuration.LocalAuthorityTableSection,ULIMSWcfClient" />
    <section name="LocalAuthoritySection" type="ULIMSWcfClient.ConfigurationWeb.LocalAuthoritySection,ULIMSWcfClient" />
    <section name="LocalAuthorities" type="ULIMSWcfClient.Configuration_Local.LocalAuthoritySection,ULIMSWcfClient" />
  </configSections>
  <LocalAuthorityViews>
    <Views>
      <add localAuthority="katima_mulilo" db="katima_mulilo" code="1" view="[katima_mulilo].[sde].[katima_mulilo_erven_evw]"></add>
      <add localAuthority="walvis_bay" db="walvis_bay" code="2" view="[walvis_bay].[sde].[walvis_bay_erven_evw]"></add>
      <add localAuthority="otjiwarongo" db="otjiwarongo" code="3" view="[otjiwarongo].[sde].[otjiwarongo_erven_evw]"></add>
      <add localAuthority="tsumeb" db="tsumeb" code="4" view="[tsumeb].[sde].[tsumeb_erven_evw]"></add>
      <add localAuthority="keetmanshoop" db="keetmanshoop" code="5" view="[keetmanshoop].[sde].[keetmanshoop_erven_evw]"></add>
      <add localAuthority="outapi" db="outapi" code="6" view="[outapi].[sde].[outapi_erven_evw]"></add>
      <add localAuthority="oshakati" db="oshakati" code="7" view="[oshakati].[sde].[oshakati_erven_evw]"></add>
      <add localAuthority="rundu" db="rundu" code="8" view="[rundu].[sde].[rundu_erven_evw]"></add>
      <add localAuthority="helao_nafidi" db="helao_nafidi" code="9" view="[helao_nafidi].[sde].[helao_nafidi_erven_evw]"></add>
      <add localAuthority="okahandja" db="okahandja" code="11" view="[okahandja].[sde].[okahandja_erven_evw]"></add>
    </Views>
  </LocalAuthorityViews>
  <LocalAuthorityTables>
    <Tables>
      <add localAuthority="katima_mulilo" db="katima_mulilo" code="1" table="[katima_mulilo].[sde].[temp_parcel_h]"></add>
      <add localAuthority="walvis_bay" db="walvis_bay" code="2" table="[walvis_bay].[sde].[temp_parcel_h]"></add>
      <add localAuthority="otjiwarongo" db="otjiwarongo" code="3" table="[otjiwarongo].[sde].[temp_parcel_h]"></add>
      <add localAuthority="tsumeb" db="tsumeb" code="4" table="[tsumeb].[sde].[temp_parcel_h]"></add>
      <add localAuthority="keetmanshoop" db="keetmanshoop" code="5" table="[keetmanshoop].[sde].[temp_parcel_h]"></add>
      <add localAuthority="outapi" db="outapi" code="6" table="[outapi].[sde].[temp_parcel_h]"></add>
      <add localAuthority="oshakati" db="oshakati" code="7" table="[oshakati].[sde].[temp_parcel_h]"></add>
      <add localAuthority="rundu" db="rundu" code="8" table="[rundu].[sde].[temp_parcel_h]"></add>
      <add localAuthority="helao_nafidi" db="helao_nafidi" code="9" table="[helao_nafidi].[sde].[temp_parcel_h]"></add>
      <add localAuthority="okahandja" db="okahandja" code="11" table="[okahandja].[sde].[temp_parcel_h]"></add>
    </Tables>
  </LocalAuthorityTables>
  <LocalAuthoritySection>
    <LocalAuthorities>
      <add localAuthority="Katima Mulilo" code="1" siteUrl="http://kdc-srv-066/katimamulilo" />
      <add localAuthority="Walvis Bay" code="2" siteUrl="http://kdc-srv-066/walvisbay" />
      <add localAuthority="Otjiwarongo" code="3" siteUrl="http://kdc-srv-066/otjiwarongo" />
      <add localAuthority="Tsumeb" code="4" siteUrl="http://kdc-srv-066/tsumeb" />
      <add localAuthority="Keetmanshoop" code="5" siteUrl="http://kdc-srv-066/keetmanshoop" />
      <add localAuthority="Outapi" code="6" siteUrl="http://kdc-srv-066/outapi" />
      <add localAuthority="Oshakati" code="7" siteUrl="http://kdc-srv-066/oshakati" />
      <add localAuthority="Rundu" code="8" siteUrl="http://kdc-srv-066/rundu" />
      <add localAuthority="Helao Nafidi" code="9" siteUrl="http://kdc-srv-066/helaonafidi" />
      <add localAuthority="Okahandja" code="11" siteUrl="http://kdc-srv-066/okahandja" />
      <!--<add localAuthority="MainSite"  code="-1" siteUrl="http://kdc-srv-066/"/>-->
    </LocalAuthorities>
  </LocalAuthoritySection>
  <LocalAuthorities>
    <LocalAuthority>
      <add name="Katima Mulilo" code="1"></add>
      <add name="Walvis bay" code="2"></add>
      <add name="Otjiwarongo" code="3"></add>
      <add name="Tsumeb" code="4"></add>
      <add name="Keetmanshoop" code="5"></add>
      <add name="Outapi" code="6"></add>
      <add name="Oshakati" code="7"></add>
      <add name="Rundu" code="8"></add>
      <add name="Helao Nafidi" code="9"></add>
      <add name="Okahandja" code="11"></add>
    </LocalAuthority>
  </LocalAuthorities>
  <connectionStrings>
    <add name="ulimsEntities" connectionString="metadata=res://*/UlimsTest.csdl|res://*/UlimsTest.ssdl|res://*/UlimsTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kdc-srv-067;initial catalog=ulims;persist security info=True;user id=gisadmin;password=gisadmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ulimsConnectionString" connectionString="Password=LocalGov9;Persist Security Info=True;User ID=sa;Initial Catalog=otjiwarongo;Data Source=ulims-gis-db-01"
      providerName="System.Data.SqlClient" />-->
    <add name="ulimsConnectionString" connectionString="Password=sde;Persist Security Info=True;User ID=sde;Initial Catalog=otjiwarongo;Data Source=192.168.10.67" providerName="System.Data.SqlClient" />
    <!--<add name="ulimsNavSyncConnectionString" connectionString="Data Source=.;Initial Catalog=NavSyncDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="ulimsConnectionString" connectionString="Password=gisadmin;Persist Security Info=True;User ID=sa;Initial Catalog=otjiwarongo;Data Source=192.168.10.67"
      providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ULIMSWcfClient-20160407113004.mdf;Initial Catalog=aspnet-ULIMSWcfClient-20160407113004;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="thread_interval" value="180000" />
    <add key="sql_job" value="true" />
    <add key="jobName" value="temp_h_job" />
    <add key="username" value="sa" />
    <add key="password" value="gisadmin" />
    <add key="servername" value="192.168.10.67" />
    <add key="instance" value="MSSQLSERVER" />
    <add key="port" value="1433" />
    <add key="DefaultConnectionString" value="ulimsConnectionString" />
    <!--to be amended on deployment-->
    <add key="PageSize" value="50" />
    <add key="MinuteInterval" value="120" />
    <add key="SPUsername" value="harold.yewa" />
    <add key="SPPassword" value="Naz1r1t3f3lla" />
    <add key="SPDomain" value="TECHNOBRAIN" />
    <add key="NavUsername" value="harold.yewa" />
    <add key="NavPassword" value="Naz1r1t3f3lla" />
    <add key="NavDomain" value="TECHNOBRAIN" />
    <!--to be amended on deployment-->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Binding" value="BasicHttpBinding_IErfApplicationPurchase" />
    <add key="ApplicationPurchase" value="Application_For_Purchase_Port" />
    <add key="Erfs" value="Erfs_Port" />
    <add key="Valuation" value="Valuation_Port" />
    <add key="Charges" value="Charges_Port" />
    <add key="Valuationperiods" value="Valuationperiods_Port" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Application_For_Purchase_Binding" />
        <binding name="Charges_Binding" />
        <binding name="Erfs_Binding" />
        <binding name="Valuation_Binding" />
        <binding name="Valuationperiods_Binding" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IULIMSGISService" />
        <binding name="erfWsHttpBinding">
          <security>
            <message negotiateServiceCredential="false" algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IULIMSGISService1" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.10.67:7047/DynamicsNAV70/WS/ReplaceWithAPercentEncodedCompanyName/Page/Application_For_Purchase"
        binding="basicHttpBinding" bindingConfiguration="Application_For_Purchase_Binding"
        contract="svcNavApplicationForPurchase.Application_For_Purchase_Port"
        name="Application_For_Purchase_Port" />
      <endpoint address="http://192.168.10.67:7047/DynamicsNAV70/WS/ReplaceWithAPercentEncodedCompanyName/Page/Charges"
        binding="basicHttpBinding" bindingConfiguration="Charges_Binding"
        contract="svcNavCharges.Charges_Port" name="Charges_Port" />
      <endpoint address="http://192.168.10.67:7047/DynamicsNAV70/WS/ReplaceWithAPercentEncodedCompanyName/Page/Erfs"
        binding="basicHttpBinding" bindingConfiguration="Erfs_Binding"
        contract="svcNavErfs.Erfs_Port" name="Erfs_Port" />
      <endpoint address="http://192.168.10.67:7047/DynamicsNAV70/WS/ReplaceWithAPercentEncodedCompanyName/Page/Valuation"
        binding="basicHttpBinding" bindingConfiguration="Valuation_Binding"
        contract="svcNavValuation.Valuation_Port" name="Valuation_Port" />
      <endpoint address="http://192.168.10.67:7047/DynamicsNAV70/WS/ReplaceWithAPercentEncodedCompanyName/Page/Valuationperiods"
        binding="basicHttpBinding" bindingConfiguration="Valuationperiods_Binding"
        contract="svcNavValuationPeriods.Valuationperiods_Port" name="Valuationperiods_Port" />
      <endpoint address="http://192.168.10.66:2020/UlimsWcfServer/Erf.svc"
        binding="wsHttpBinding" bindingConfiguration="erfWsHttpBinding"
        contract="svcSpErf.IErf" name="erfWsHttpBinding">
        <identity>
          <servicePrincipalName value="host/KDC-SRV-066.technobrain.com" />
        </identity>
      </endpoint>
      <endpoint address="http://gis-srv-067:8888/ulimsgiswcf/service"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IULIMSGISService1"
        contract="ULIMSGISServiceRef.IULIMSGISService" name="WSHttpBinding_IULIMSGISService">
        <identity>
          <servicePrincipalName value="host/GIS-SRV-067.technobrain.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>